*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
  font-family: sans-serif;
}
.todo{
  max-width: 500px;
  margin: auto;
}
.todo-title{
  font-weight: 300;
  color: #b83f45;
  font-size: 100px;
  text-align: center;
}
.todo-todo__input{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px 0px;
  font-weight: 100;
  font-style: italic;
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 1px solid  rgb(173, 171, 171)
}
.todo-todo__list{
  list-style: none;
  background-color: #fff;
  width: 90%; 
  border-radius: 10px; 
  box-shadow: 0px 20px 10px 9px rgba(199, 153, 153, 0.20);
}
.todo-todo__list-item{
  font-weight: 200;
  font-size: 30px;
}
a{
  text-decoration: none;
  color: black;
}
a:focus,
a:active,
a:visited{
  background-color: #b83f45;
}